
.main-content {
  @extend %center;

}

.cards {
  @include flexy(flex, row);
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 65%;
  max-width: 23em;
  min-width: 20em;
  border-radius: 10px;
  border: 1px solid $border-color;
  height: 9em;
  margin-bottom: 1em;
  @include flexy(flex, row);
  align-items: flex-start;
  align-items: center;
  padding: 20px;
  &:hover {
    cursor: pointer;
  }
    @include mq(medium) {
      width: 45%;
    }
    @include mq(large) {
      width: 31%;
    }
}



#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  font-size: 5em;
  background-color: #000;
  opacity: .75;
}

.close {
  position: relative;
  top: -2em;
  left: -7.8em;
  &:hover {
    cursor: pointer;
  }
}

.card--overlay {
  width: 18em;
  height: 25em;
  position: fixed;
  background-color: $card-background;
  border-radius: 10px;
  border: 1px solid $border-color;
  margin-bottom: 1em;
  @include flexy(flex, column);
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  padding: 20px;
  @extend %center-fixed;
}

.overlay--info {
  @include flexy(flex, column);
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid $border-color;
}

.overlay--contact {
  @include flexy(flex, column);
  padding-top: 1em;
  text-transform: capitalize;
  font-weight: $font-weight--thin;
  letter-spacing: .85px;
  text-align: center;
  font-size: 13px;
  align-items: center;
  padding-bottom: 1em;
}

.user--info {
  margin: auto;
}
