
.main-content {
  @extend %center;

}

.cards {
  @include flexy(flex, row);
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 90%;
    @include mq(medium) {
      width: 50%;
    }
    @include mq(large) {
      width: 33%;
    }
}



#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  font-size: 5em;
  background-color: #000;
  opacity: .75;
}
