
.main-content {
  @extend %center;

}

.cards {
  @include flexy(flex, row);
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 65%;
  border-radius: 10px;
  border: 1px solid $border-color;
  height: 9em;
  margin-bottom: 1em;
  @include flexy(flex, row);
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  padding: 20px;
    @include mq(medium) {
      width: 45%;
    }
    @include mq(large) {
      width: 31%;
    }
}



#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  font-size: 5em;
  background-color: #000;
  opacity: .75;
}
